.gradient-custom {
/* fallback for old browsers */
background: #ef2951;

/* Chrome 10-25, Safari 5.1-6 */
background: -webkit-linear-gradient(to right, rgba(450, 150, 095, 1), rgba(889, 412, 252, 1));

/* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
background: linear-gradient(to right, rgba(450, 150, 095, 1), rgba(889, 412, 252, 1))
}